.fab {
    width: 74px;
    height: 74px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    padding-top: 0;
    font-size: 50px;
    line-height: 63px;
    color: white;
    text-align: center;
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}